<div class="w-full justify-center my-2">
    <h1 class="text-center m-1">Book Details</h1>

    <div class="mx-1 my-2 shadow-md p-2">
        <img src="{{ site.baseurl }}/assets/books/{{ page.cover }}" class="" />
    </div>

    <div class="star-ratings-sprite">
        <span style="width: {{ page.rating | times:20 }}%" class="star-ratings-sprite-rating"></span>
    </div>

    <div class="book-meta-data mx-1">
        <table class="book-meta-data table-fixed">
            <tbody>
                <tr class="book-meta-title">
                    <td class="w-1/2">Title</td>
                    <td class="w-1/2">{{ page.title }}</td>
                </tr>
                <tr class="book-meta-autdor">
                    <td>Author</td>
                    <td>{{ page.author }}</td>
                </tr>
                {% if page.series %}
                <tr class="book-meta-series">
                    <td>Series</td>
                    <td>{{ page.series }} [{{ page.series_order}}]</td>
                </tr>
                {% endif %}
                <tr class="book-meta-published">
                    <td>Published</td>
                    <td>{{ page.published }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>