<footer class="main-footer contrast">

    <section class="upper-footer">
        <div class="wrap">
        </div>
    </section>

    <section class="mid-footer cf">
        <div class="clearfix"> </div>
    </section>

    <section class="lower-footer cf">
        <div class="wrap">

            <div class="bottom cf">
                <p class="copyright">© 2022 by <a href="https://about.bramvandenbussche.be">Bram Vandenbussche</a> <i class="fa fa-heart red"></i></p>

                <ul class="social-icons">
                    <li>
                        <a href="https://www.twitter.com/{{ site.twitter-handle }}" class="social-link" target="_blank">
                            <i class="fa fa-twitter"></i>
                            <span class="label">Twitter</span>
                        </a>
                    </li>
                
                    <li>
                        <a href="https://www.instagram.com/{{ site.instagram-handle }}" class="social-link" target="_blank">
                            <i class="fa fa-instagram"></i>
                            <span class="label">Instagram</span>
                        </a>
                    </li>
                
                    <li>
                        <a href="https://www.linkedin.com/in/{{ site.linkedin-handle }}" class="social-link" target="_blank">
                            <i class="fa fa-linkedin"></i>
                            <span class="label">LinkedIn</span>
                        </a>
                    </li>
                </ul>

                
            </div>
        </div>
    </section>


</footer>