<header id="main-head" class="main-head head-nav-below nav-below" style="min-height: 329px;">
    <div class="top-bar cf">
        <div class="top-bar-content" data-sticky-bar="1">
            <div class="wrap cf">

                <ul class="social-icons cf">
                    <li>
                        <a href="https://www.twitter.com/{{ site.twitter-handle }}" class="fa fa-twitter" target="_blank">
                            <span class="visuallyhidden">Twitter</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/{{ site.instagram-handle }}" class="fa fa-instagram" target="_blank">
                            <span class="visuallyhidden">Instagram</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/{{ site.linkedin-handle }}" class="fa fa-linkedin" target="_blank">
                            <span class="visuallyhidden">LinkedIn</span>
                        </a>
                    </li>
                </ul>
                <!-- .social-icons -->

                <div class="actions">
                    <!-- <div class="search-action cf">

                        <form method="get" class="search-form" action="https://books.bramvandenbussche.be/">
                            <button type="submit" class="search-submit"><i class="fa fa-search"></i></button>
                            <input type="search" class="search-field" name="s" placeholder="Search" value=""
                                required="">
                        </form>

                    </div> -->
                    <!-- .search-action -->
                </div>
            </div>
        </div>
        <!-- .top-bar-content -->
    </div>
    <!-- .top-bar -->

    <div class="inner">
        <div class="wrap logo-wrap cf">
            <div class="title">
                <a href="{{ site.url }}" title="Bram reads books" rel="home">
                    <img src="/assets/img/book_icon.png" class="logo-image" alt="{{ site.title }}">
                </a>
            </div>
        </div>
    </div>

    <div class="navigation-wrap">
        <nav class="navigation below light" data-sticky-bar="1">
            <div class="wrap">
                <div class="menu-main-container">
                    <ul id="menu-main" class="menu">
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home">
                            <a href="/">Home</a>
                        </li>
                        
                        {% for tag in site.tags %}
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-category">
                            <a href="#">{{ tag[0] }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </nav>

    </div>

</header>