<nav class="main-pagination">
    {% if paginator.previous_page %}
    <div class="previous"><a href="{{ paginator.previous_page_path | prepend: site.baseurl }}"><i class="fa fa-angle-double-left"></i>Older Posts</a></div>
    {% endif %}

    <span class="page_number ">
        Page: {{ paginator.page }} of {{ paginator.total_pages }}
    </span>

    {% if paginator.next_page %}
    <div class="next"><a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Newer Posts<i class="fa fa-angle-double-right"></i></a></div>
    {% endif %}
</nav>