<div class="posts-dynamic posts-container ts-row grid count-0 masonry">
    {% include pagination.html %}
    
    <div class="posts-wrap cf">
        {% for review in paginator.posts %}
        <div class="col-4 cf">

            <article class="grid-post post type-post format-standard has-post-thumbnail">
                <div class="post-header cf">
                    <div class="post-thumb">
                        <a href="{{ review.url }}" class="image-link">
                            <img src="{{ site.baseurl }}/assets/books/{{ review.cover }}"
                                class="attachment-large size-large wp-post-image"
                                alt="{{ review.author }} – {{ review.title }}"
                                title="{{ review.author }} – {{ review.title }}" />
                        </a>
                    </div>

                    <div class="meta-title">
                        <div class="post-meta post-meta-a">
                            <span class="post-cat">
                                <a href="{{ site.baseurl }}/tag/{{ review.tags[0] | slugify }}"
                                    class="category">{{ review.tags[0] }}</a>
                            </span>

                            <span class="meta-sep"></span>

                            <a href="{{ review.link }}" class="date-link">
                                <time class="post-date" datetime="{{ page.date }}">August 23, 2018</time>
                            </a>

                            <h2 class="post-title-alt">
                                <a href="{{ review.link }}">
                                    {{ review.author }} – {{ review.title }}
                                </a>
                            </h2>
                        </div>
                    </div>
                </div><!-- .post-header -->

                <div class="post-content post-excerpt cf">
                    <!-- <p>{{ review.excerpt }}</p> -->
                </div><!-- .post-content -->

            </article>
        </div>
        {% endfor %}

    </div>

    {% include pagination.html %}
</div>