<aside class="col-4 sidebar" id="sidebar" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
    <div class="inner theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none;">
        <ul>
            {% if page.cover %}

                {% include widgets/book-meta.html %}

                {% if page.series %}
                    {% include widgets/book-series.html %}
                {% endif %}

            {% else %}

                {% include widgets/currently-reading.html %}

                {% include widgets/reading-challenge.html %}
                
            {% endif %}

            

        </ul>
        
    </div>
</aside>