---
---

@import url('https://fonts.googleapis.com/css2?family=Lora');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cormorant%3A600%2C700%2C700i');

@import url('/assets/css/style.css');
@import url('/assets/css/skin-fashion.css');
@import url('/assets/css/font-awesome.min.css');
@import url('/assets/css/inline.css');


$theme-teal: #0c6572;

$theme-darkgold: #a18858;
$theme-gold: #c1aa55;
$theme-lightgold: #eddb68;

$theme-lightgray: #aaaaaa;
$theme-gray: #505050;

.custom-background {
    background-image: url('/assets/img/lightpaperfibers.png');
    background-position: left top;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
}

.star-ratings-sprite {
    background: url('/assets/img/star-rating-sprite.png') repeat-x;
    font-size: 0;
    height: 21px;
    line-height: 0;
    overflow: hidden;
    text-indent: -999em;
    width: 110px;
    margin: 10px auto;
}

.star-ratings-sprite-rating {
    background: url('/assets/img/star-rating-sprite.png') repeat-x;
    background-position: 0 100%;
    float: left;
    height: 21px;
    display: block;
}

