<li class="widget widget-about">

    <h5 class="widget-title"><span>About</span></h5>

    <div class="author-image image-circle">
        <img src="https://secure.gravatar.com/avatar/966ffc611efed95e5f9189873f63d295?s=500" alt="About Me">
    </div>


    <div class="text about-text">
        <p>{{ site.tagline }}</p>
    </div>

    <div class="social-icons">
        <a href="https://www.twitter.com/{{ site.twitter-handle }}" class="social-btn" target="_blank">
            <i class="fa fa-twitter"></i>
            <span class="visuallyhidden">Twitter</span>
        </a>

        <a href="https://www.instagram.com/{{ site.instagram-handle }}" class="social-btn" target="_blank">
            <i class="fa fa-instagram"></i>
            <span class="visuallyhidden">Instagram</span>
        </a>

        <a href="https://www.linkedin.com/in/{{ site.linkedin-handle }}" class="social-btn" target="_blank">
            <i class="fa fa-linkedin"></i>
            <span class="visuallyhidden">LinkedIn</span>
        </a>
    </div>
</li>