{% 
    assign series = site.posts 
                    | where_exp:"post", "post.series == page.series"
                    | sort: "series_order"
%}

<li class="widget widget_bookserieswidget">
    <h5 class="widget-title"><span><span>Series: {{ page.series }}</span></span></h5>
    <div class="book-series">
        <ul>
            {% for book in series %}
            <li>
                <a href="{{ site.baseurl }}{{ book.url }}">
                    {% responsive_image_block %}
                        path: "assets/books/{{ book.cover }}"
                        alt: "[{{ book.series_order }}] {{ book.title }} ({{ book.published }})"
                        title: "[{{ book.series_order }}] {{ book.title }} ({{ book.published }})"
                        cache: true
                    {% endresponsive_image_block %}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="clearfix"></div>
</li>