<li id="bookmetadatawidget" class="widget widget_bookmetadatawidget">
    <h5 class="widget-title">
        <span>
            <span alt="{{ page.title }}">Book Details</span>
        </span>
    </h5>

    <div class="attachment-medium_large size-medium_large wp-post-image lazyloaded">
        <img src="{{ site.baseurl }}/assets/books/{{ page.cover }}" class="" alt="{{ page.author }} - {{ page.title }}" />
    </div>

    <div class="star-ratings-sprite" title="{{ page.rating }} stars">
        <span style="width: {{ page.rating | times:20 }}%" class="star-ratings-sprite-rating"></span>
    </div>

    <div class="book-meta-data mx-1">
        <table class="book-meta-data table-fixed">
            <tbody>
                <tr class="book-meta-title">
                    <td class="w-1/2">Title</td>
                    <td class="w-1/2">{{ page.title }}</td>
                </tr>
                <tr class="book-meta-autdor">
                    <td>Author</td>
                    <td>{{ page.author }}</td>
                </tr>
                {% if page.series %}
                <tr class="book-meta-series">
                    <td>Series</td>
                    <td>{{ page.series }} [{{ page.series_order}}]</td>
                </tr>
                {% endif %}
                <tr class="book-meta-published">
                    <td>Published</td>
                    <td>{{ page.published }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</li>