{% assign series = site.series | where: "name", page.series | first %}

{% assign author = site.authors | where:"name", page.author | first %}

<li id="bookmetadatawidget" class="widget widget_bookmetadatawidget">
    <h5 class="widget-title">
        <span>
            <span alt="{{ page.title }}">Book Details</span>
        </span>
    </h5>

    <div class="attachment-medium_large size-medium_large wp-post-image lazyloaded">
        {% responsive_image_block %}
            path: assets/books/{{ page.cover }}
            alt: {{ page.author }} - {{ page.title }}
            title: {{ page.author }} - {{ page.title }}
            cache: true
        {% endresponsive_image_block %}
    </div>

    {% include widgets/star-rating.html rating=page.rating %}

    <div class="book-meta-data mx-1">
        <table class="book-meta-data table-fixed">
            <tbody>
                <tr class="book-meta-title">
                    <td class="w-1/2">Title</td>
                    <td class="w-1/2">{{ page.title }}</td>
                </tr>
                <tr class="book-meta-autdor">
                    <td>Author</td>
                    <td>
                        {% if author %}
                            <a href="{{ site.baseurl }}{{ author.url }}">
                                {{ page.author }}
                            </a>
                        {% else %}
                            {{ page.author }}
                        {% endif %}
                    </td>
                </tr>
                {% if page.series %}
                <tr class="book-meta-series">
                    <td>Series</td>
                    <td>
                        {% if series %}
                            <a href="{{ site.baseurl }}{{ series.url }}">
                                {{ page.series }} [{{ page.series_order}}]
                            </a>
                        {% else %}
                            {{ page.series }} [{{ page.series_order}}]
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
                <tr class="book-meta-published">
                    <td>Published</td>
                    <td>{{ page.published }}</td>
                </tr>
                {% if page.goodreads_id %}
                <tr>
                    <td colspan="2" style="text-align: center;">
                        <a href="https://www.goodreads.com/book/show/{{ page.goodreads_id }}" target="_blank">
                            <i class="fa-brands fa-goodreads"></i>
                            View on Goodreads
                        </a>
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</li>