<li id="custom_html-3" class="widget_text widget widget_custom_html">
    <h5 class="widget-title"><span>Currently Reading</span></h5>
    <div class="textwidget custom-html-widget">
        
        <style type="text/css" media="screen">
            .gr_grid_container {
                /* customize grid container div here. eg: width: 500px; */
            }
        
            .gr_grid_book_container {
                /* customize book cover container div here */
                float: left;
                width: 50%;
                height: 160px;
                padding: 0px 0px;
                margin: 0;
                overflow: hidden;
            }
        
            .gr_grid_book_container img {
                width: 98px;
            }
        </style>
        <div id="gr_grid_widget_1506614705">
            <!-- Show static html as a placeholder in case js is not enabled - javascript include will override this if things work -->
            <div class="gr_grid_container">
                <div class="gr_grid_book_container"><a title="The Art of Unit Testing" rel="nofollow"
                        href="https://www.goodreads.com/book/show/17623611-the-art-of-unit-testing"><img
                            alt="The Art of Unit Testing" border="0"
                            src="https://images.gr-assets.com/books/1384383111m/17623611.jpg" /></a></div>
                <div class="gr_grid_book_container"><a title="Leviathan Wakes (The Expanse, #1)" rel="nofollow"
                        href="https://www.goodreads.com/book/show/8855321-leviathan-wakes"><img alt="Leviathan Wakes" border="0"
                            src="https://images.gr-assets.com/books/1411013134m/8855321.jpg" /></a></div>
                <div class="gr_grid_book_container"><a title="The Mirror’s Truth (Manifest Delusions, #2)" rel="nofollow"
                        href="https://www.goodreads.com/book/show/31303801-the-mirror-s-truth"><img alt="The Mirror’s Truth"
                            border="0" src="https://images.gr-assets.com/books/1475327287m/31303801.jpg" /></a></div>
                <br style="clear: both" />
                <noscript><br />Share <a rel="nofollow" href="/">book reviews</a> and ratings with Bram, and even join a <a
                        rel="nofollow" href="/group">book club</a> on Goodreads.</noscript>
            </div>
        
        </div>
        <script
            src="https://www.goodreads.com/review/grid_widget/18523500.Bram's%20currently-reading%20book%20montage?cover_size=medium&hide_link=&hide_title=true&num_books=10&order=a&shelf=currently-reading&sort=date_added&widget_id=1506614705"
            type="text/javascript" charset="utf-8"></script>
        
    </div>
</li>



