{% 
    assign author_books = site.posts 
                    | where_exp:"post", "post.author == page.author"
                    | sort: "published"
%}
<div id="books-by-author">
    <h1>More by {{ page.author }}</h1>
    <ul>
        {% for book in author_books %}
        <li>
            <a href="{{ site.baseurl }}{{ book.url }}">
                <img src="{{ site.baseurl }}/assets/books/{{ book.cover }}"
                     alt="({{ book.published }}) {{ book.title }}"
                     title="({{ book.published }}) {{ book.title }}" />
            </a>
        </li>
        {% endfor %}
    </ul>
    <div class="clearfix"></div>
</div>