---
layout: main
---

{% assign author = site.authors | where:"name", page.author | first %}

<article class="the-post post type-post format-standard">

    <header class="post-header the-post-header cf">
        <div class="post-meta the-post-meta">
            <span class="post-cat">
                <a href="{{ site.baseurl }}{{ author.url }}">{{ page.author }}</a>
            </span>
            <h1 class="post-title">{{ page.name }}</h1>
            <a href="https://www.goodreads.com/series/{{ page.goodreads_id }}" target="_blank" class="date-link">
                <i class="fa-brands fa-goodreads"></i>
                View on Goodreads
            </a>
        </div>
    </header>
    <!-- .post-header -->

    <div class="post-content description cf">
        {{ content }}
    </div>
    <!-- .post-content -->

<hr />

{% 
    assign series = site.posts 
                    | where_exp:"post", "post.series == page.name"
                    | sort: "series_order"
%}

<div class="book-series">
    <ul>
        {% for book in series %}
        <li>
            <a href="{{ site.baseurl }}{{ book.url }}">
                {% responsive_image_block %}
                    path: "assets/books/{{ book.cover }}"
                    alt: "{{ book.author }} - {{ book.title }}"
                    title: "{{ book.author }} - {{ book.title }}"
                    class: "image wp-post-image lazyloaded"
                    width: "200"
                    cache: true
                {% endresponsive_image_block %}
            </a>

            {% include widgets/star-rating.html rating=book.rating %}
        </li>
        {% endfor %}
    </ul>
    <div class="clearfix"></div>
</div> 

</article>