---
layout: main
---

<article class="the-post post type-post format-standard">

    <header class="post-header the-post-header cf">
        <div class="post-meta the-post-meta">
            <h1 class="post-title">{{ page.name }}</h1>
            <a href="https://www.goodreads.com/author/show/{{ page.goodreads_id }}" target="_blank" class="date-link">
                <i class="fa-brands fa-goodreads"></i>
                View on Goodreads
            </a>
        </div>
    </header>
    <!-- .post-header -->

    <div class="post-content description cf">
        {{ content }}
    </div>
    <!-- .post-content -->

<hr />

{% 
    assign author_books = site.posts 
                    | where_exp:"post", "post.author == page.name"
                    | sort: "published"
%}

    <div class="books-by-author">
        <ul>
            {% for book in author_books %}
            <li>
                <article class="grid-post post type-post format-standard has-post-thumbnail">
                    <div class="post-header cf">
                        <div class="post-thumb">
                            <a href="{{ site.baseurl }}{{ book.url }}">
                                {% responsive_image_block %}
                                    path: "assets/books/{{ book.cover }}"
                                    alt: "{{ book.author }} - {{ book.title }}"
                                    title: "{{ book.author }} - {{ book.title }}"
                                    class: "image wp-post-image lazyloaded"
                                    width: "270"
                                    height: "180" 
                                    cache: true
                                {% endresponsive_image_block %}
                            </a>
                        </div>

                        <div class="meta-title">
                            <div class="post-meta post-meta-a">
                                <h2 class="post-title-alt">
                                    <a href="{{ book.url }}">
                                        {{ book.title }}
                                    </a>
                                </h2>
                            </div>
                        </div>

                        {% include widgets/star-rating.html rating=book.rating %}
                    </div>
                </article>
            </li>
            {% endfor %}
        </ul>
        <div class="clearfix"></div>
    </div>
</article>