---
layout: default
---

<article class="the-post post type-post format-standard">

    <header class="post-header the-post-header cf">
        <div class="post-meta the-post-meta">
            <span class="post-cat">
                <a href="{{ site.baseurl }}/category/reviews" rel="category tag">Reviews</a>
            </span>
            <h1 class="post-title">{{ page.author }} – {{ page.title }}</h1>
            <a href="{{ page.url }}" class="date-link">
                <time class="post-date">{{ page.date | date_to_string: "ordinal", "US" }}</time>
            </a>
        </div>
    </header>
    <!-- .post-header -->

    <div class="post-content description cf">
        {{ content }}
    </div>
    <!-- .post-content -->

    <div class="the-post-foot cf">
        <div class="tag-share cf">
            <div class="post-tags">
                {% for tag in page.tags %}
                <a href="{{ site.baseurl }}/tag/{{ tag | slugify }}" rel="tag">{{ tag }}</a>
                {% endfor %}
            </div>            
        </div>
    </div>
    <!-- .post-footer -->

    <!-- <div class="author-box">
        <div class="image"><img alt=""
                src="https://secure.gravatar.com/avatar/c7a55abd0698e17aa55659ab3d71e01e?s=82&amp;d=mm&amp;r=g"
                srcset="https://secure.gravatar.com/avatar/c7a55abd0698e17aa55659ab3d71e01e?s=164&amp;d=mm&amp;r=g 2x"
                class="avatar avatar-82 photo" height="82" width="82" loading="lazy"></div>

        <div class="content">
            <span class="author">
                <span>Author</span>
                <a href="https://about.bramvandenbussche.be" title="Bram Vandenbussche"
                    rel="author">Bram Vandenbussche</a> </span>
        </div>
    </div> -->
    <!-- .author-box -->

    {% include widgets/more-by-author.html %}
</article>