---
layout: default
---

<section class="review">
    
    <header class="post-header the-post-header cf">
        <div class="post-meta the-post-meta">
            <span class="post-cat">	
                <a href="https://books.bramvandenbussche.be/category/reviews" rel="category tag">Reviews</a> 
                <a href="https://books.bramvandenbussche.be/category/reviews/science-fiction" rel="category tag">Science Fiction</a>
            </span>
            <h1 class="post-title">{{ page.author }} – {{ page.title }}</h1>
            <a href="https://books.bramvandenbussche.be/606/martha-wells-exit-strategy" class="date-link"><time class="post-date">October 19, 2018</time></a>
        </div>
    </header>
    
    <article>
        {{ content }}
    </article>
</section>